<template>
  <v-app>
    <app-header /> 
    <v-main>
      <ClientManagement/>
    </v-main>
  </v-app>
</template>

<script>
import ClientManagement from './components/ClientManagement';
import AppHeader from './components/AppHeader';
export default {
  name: 'App',

  components: {
    AppHeader,
    ClientManagement,
  },

  data: () => ({
    //
  }),
};
</script>
