<template>
  <v-dialog v-model="showPopup" persistent width="450">
    <v-card>
      <v-card-title class="text-h6"> List Of Providers </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="8">
            <v-text-field
              :rules="[() => !!name || 'This field is required']"
              label="Name"
              outlined
              dense
              v-model="name"
              hint="Enter Provider Name"
            ></v-text-field>
          </v-col>
          <v-col cols="4">
            <v-btn @click="addProvider">Add</v-btn>
          </v-col>
        </v-row>
        <v-data-table :headers="headers" :items="providers" class="elevation-1">
          <template v-slot:[`item.action`]="{ item }">
            <v-btn text class="btn-link" @click="deleteProvider(item._id)">
              Delete
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="cancle"> Cancel </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "ProviderPopup",
  props: {
    showPopup: {
      type: Boolean,
    },
  },
  data() {
    return {
      name: "",
      providers: [],
      headers: [
        {
          text: "Id",
          align: "start",
          sortable: true,
          value: "id",
        },
        {
          text: "Name",
          align: "start",
          sortable: true,
          value: "name",
        },
        {
          text: "",
          value: "action",
          sortable: false,
        },
      ],
    };
  },
  async created() {
    await this.getProvider();
  },
  methods: {
    async getProvider() {
      const response = await this.$axios.get("/provider");
      if (response.data) {
        this.providers = response.data.providers;
      }
    },
    async addProvider() {
      const response = await this.$axios.post("/provider", {
        id: this.providers.length + 1,
        name: this.name,
      });
      if (response.data) {
        // this.getProvider();
        this.name = "";
        this.$emit("updated");
      }
    },
    async deleteProvider(id) {
      const response = await this.$axios.delete("/provider/" + id);
      if (response.data) {
        this.getProvider();
        this.$emit("updated");
      }
    },
    async cancle() {
      this.$emit("cancle");
    },
  },
};
</script>
