<template>

    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://protranslating.com/wp-content/uploads/2021/04/Asset-1.svg"
          transition="scale-transition"
          width="150"
        />

      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://protranslating.com/"
        target="_blank"
        text
      >
        <span class="mr-2">Visit Website</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

</template>