<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-card>
          <v-card-title>
            List of Clients
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn @click="showClientPopup = true">New Client</v-btn>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="clients"
            :search="search"
            class="elevation-1"
          >
            <template v-slot:[`item.providers`]="{ item }">
              {{ getProviders(item.providers) }}
            </template>
            <template v-slot:[`item.action`]="{ item }">
              <v-btn text class="btn-link" @click="editClient(item)">
                Edit
              </v-btn>
              <v-btn text class="btn-link" @click="deleteClientStart(item)">
                Delete
              </v-btn>
              {{ item.id }}
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <DeleteClientPopup
        :itemToDelete="itemToDelete"
        @cancle="itemToDelete = {}"
        @deleted="getClients"
      />
      <SaveClientPopup
        :showPopup="showClientPopup"
        :itemToEdit="itemToEdit"
        :providers="providers"
        @close="
          itemToEdit = {};
          showClientPopup = false;
        "
        @added="
          getClients();
          showClientPopup = false;
        "
        @updated="
          getClients();
          showClientPopup = false;
        "
        @refreshProvider="getClients()"
      />
    </v-row>
  </v-container>
</template>

<script>
import DeleteClientPopup from "./client/DeleteClientPopup";
import SaveClientPopup from "./client/SaveClientPopup";
export default {
  name: "ClientManagement",
  components: {
    DeleteClientPopup,
    SaveClientPopup,
  },
  data: () => ({
    clients: [],
    providers: [],
    search: "",
    headers: [
      {
        text: "Name",
        align: "start",
        sortable: true,
        value: "name",
      },
      {
        text: "Email",
        align: "start",
        sortable: true,
        value: "email",
      },
      {
        text: "Phone",
        align: "start",
        sortable: true,
        value: "phone",
      },
      {
        text: "Providers",
        align: "start",
        sortable: false,
        value: "providers",
      },
      {
        text: "",
        value: "action",
        sortable: false,
      },
    ],
    itemToDelete: {},
    itemToEdit: {},
    showDeletePopup: false,
    showClientPopup: false,
  }),
  async created() {
    await this.getClients();
  },
  methods: {
    async getClients() {
      const response = await this.$axios.get("/client");
      if (response.data) {
        this.clients = response.data.clients;
        this.providers = response.data.providers;
      }
    },
    getProviders(arr) {
      const providers = [];
      arr.forEach((a) => {
        const p = this.providers.filter((x) => x.id == a.id)[0];
        if (p) {
          providers.push(p.name);
        }
      });
      return providers.join(", ");
    },
    deleteClientStart(i) {
      this.itemToDelete = i;
      this.showDeletePopup = true;
    },
    editClient(i) {
      this.itemToEdit = i;
      this.showClientPopup = true;
    },
    async deleteClient() {
      const response = await this.$axios.delete(
        "/client/" + this.itemToDelete._id
      );
      if (response.data) {
        await this.getClients();
      }
      this.showDeletePopup = false;
    },
  },
};
</script>
