<template>
  <v-dialog v-model="showPopup" persistent width="450">
    <v-card>
      <v-card-title class="text-h6">
        {{ isEdit ? "Edit" : "New" }} Client
      </v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" :lazy-validation="false">
          <v-row>
            <v-col cols="12">
              <v-text-field
                :rules="[() => !!item.name || 'This field is required']"
                label="Name"
                outlined
                dense
                v-model="item.name"
                hint="Enter Client Name"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                :rules="[() => !!item.email || 'This field is required']"
                label="Email"
                outlined
                dense
                v-model="item.email"
                hint="Enter Client Email"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                :rules="[() => !!item.phone || 'This field is required']"
                label="Phone"
                outlined
                dense
                v-model="item.phone"
                hint="Enter Client Phone"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-row>
                <v-col cols="8">
                  <v-select
                    :rules="[
                      () =>
                        item.providers.length > 0 || 'This field is required',
                    ]"
                    outlined
                    dense
                    v-model="p"
                    :items="providers"
                    label="Select"
                    item-text="name"
                    item-value="id"
                    multiple
                    hint="Select Providers"
                  ></v-select>
                </v-col>
                <v-col cols="4">
                  <v-btn dense outlined small @click="showProviderPopup = true">
                    Add Provider
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close"> Cancel </v-btn>
        <v-btn color="primary" @click="saveClient">
          {{ isEdit ? "Save" : "Add" }} Client</v-btn
        >
      </v-card-actions>
    </v-card>
    <ProviderPopup
      :showPopup="showProviderPopup"
      @cancle="showProviderPopup = false"
      @updated="
        showProviderPopup = false;
        $emit('refreshProvider');
      "
    />
  </v-dialog>
</template>

<script>
import ProviderPopup from "../provider/ProviderPopup.vue";

export default {
  name: "SaveClient",
  components: {
    ProviderPopup,
  },
  props: {
    providers: {
      type: Array,
    },
    itemToEdit: {
      type: Object,
      default() {
        return {};
      },
    },
    showPopup: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      item: {},
      isEdit: false,
      p: [],
      valid: true,
      showProviderPopup: false,
    };
  },
  watch: {
    itemToEdit(newVal) {
      if (Object.keys(newVal).length > 0) {
        this.item = newVal;
        this.isEdit = true;
        this.p = this.getProviderIdArr(newVal.providers);
      } else {
        this.isEdit = false;
      }
    },
    p(newVal) {
      this.item.providers = [];
      newVal.forEach((x) => {
        this.item.providers.push({ id: x });
      });
    },
  },
  methods: {
    getProviderIdArr(arr) {
      const ids = [];
      arr.forEach((x) => {
        ids.push(x.id);
      });
      return ids;
    },
    async saveClient() {
      const isValid = await this.$refs.form.validate();
      if (isValid) {
        if (this.isEdit) {
          await this.updateClient();
        } else {
          await this.addClient();
        }
        this.close();
      }
    },
    async addClient() {
      const response = await this.$axios.post("/client", this.item);
      if (response.data) {
        this.$emit("added");
      }
    },
    async updateClient() {
      const response = await this.$axios.put(
        "/client/" + this.itemToEdit._id,
        this.item
      );
      if (response.data) {
        this.$emit("updated");
      }
    },
    close() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
      this.item = {};
      this.p = [];
      this.$emit("close");
    },
  },
};
</script>
